* {
    margin: 0px;
    padding: 0px;
}

.formulario {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 380px;
    background-color: #2E8B57;
    top: 50%;
    margin-top: -219px;
    border-radius: 0%;
}

.form {
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 300px;
    height: 250px;
    background-color: #2E8B57;
    top: 50%;
    margin-top: -219px;
    border-radius: 0%;
}

.centro {
    text-align: center;
    margin-top: 20%;
    background-color: black;
}

.center {
    text-align: center;
    margin-top: 20%;
    background-color: black;
}

.caixas {
    width: 60%;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: white;
}

.log {
    width: 60%;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: white;
}

.text {
    margin-top: 2rem;
}

.texto {
    margin-top: 2rem;
}

.cd {
    margin-top: 2rem;
    text-align: center;
    color: white;
}

.btn {
    float: left;
    padding-left: 1rem;
    margin-left: 9rem;
}

.botao {
    float: left;
    padding-left: 1rem;
    margin-left: 6rem;
}

.botao2 {
    float: left;
    padding-left: 2rem;
    margin-left: 7rem;
}

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;
}

::-moz-placeholder { /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}
